click
ffmpeg-python
yt-dlp
scenedetect[opencv]
facenet-pytorch
ultralytics
openai-whisper
pysrt
openai
librosa
numpy
face-recognition
psycopg2-binary
python-dotenv
pgvector
sentence-transformers
pymediainfo
spacy>=3.0.0,<4.0.0